@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .button {
    margin: 3px 5px;
    display: inline-block;
    border-radius: 27px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255);
    padding: 8px 17px;
    border: 1.5px solid #e6e6e6ab;
    font-size: 14px;
    transition: all 0.047s;
    color: #1f1f1f;
    font-weight: 500;
  }
}
@layer components {
  .heading {
    @apply text-2xl font-thin mt-5 ml-3;
  }

}


.button:hover {
  border: 1.5px solid #d6d6d6ec;
  transition: all 0.1s;
}

.button:active {
  background-color: rgba(243, 243, 243, 0.589);
  transform: scale(0.99);
}

.red-button {
  border: 1.5px solid #bc2f2f;
  color: #ffffff;
  background: #e33737;
}

.red-button:hover {
  border: 1.5px solid #9d0b0b;
  color: #ffffff;
  background: #c72020;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1.5px solid #e6e6e6ab;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
}

.user-name {
  @apply text-sm;
  display: inline-block;
}

.hidden {
  display: none;
}
.user-button {
  display: flex;
  align-items: center;
}

.fade-up {
  animation: fade-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
}
@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(1.5) matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0003, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: top right;
  }
  20% {
    opacity: 0;
    transform: translateY(20px) scale(0.97) matrix3d(1, 0, 0, 0, 0, 1, 0, 0.0003, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: top right;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.page-card {
  @apply border border-gray-200 rounded-lg p-6 pb-3 m-2 inline-block ;
  font-weight: 300;
}

.container {
  @apply max-w-screen-xl mx-auto px-6;
}
.stacked-page-cards .stacked-page-card:nth-child(1){
z-index: 3;
    position: relative;}
.stacked-page-cards .stacked-page-card:nth-child(2){
    margin-left:-332px;
    position: relative;
    z-index: 2;
    top: 17px;
    opacity: .9;
  
}
.stacked-page-cards .stacked-page-card:nth-child(3){
    margin-left:-335px;
    position: relative;
    top: 32px;
    opacity: .9;

}
.stacked-page-card:nth-child(1){z-index: 3  !important; position: relative;}
.stacked-page-card:nth-child(2){z-index: 2 !important; position: relative;}
.stacked-page-card:nth-child(3){z-index: 1 !important; position: relative;}
.unstacked-page-card{
  animation: fade-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
  transform-origin: 0%;
}